@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Results</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>@Model.GetName()</h3>
        <ul>
            <li>Continent: @Model.GetContinent()</li>
            <li>Country Code: @Model.GetCountryCode()</li>
            <li>Population: @Model.GetPopulation()</li>
            <li>GNP: @Model.GetGNP()</li>
            <li>Surface Area: @Model.GetSurfaceArea()</li>
        </ul>
    </div>
</div>